body{
	background:#207cca;
	font-family:Arial, Helvetica, sans-serif;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
.main-wrap{
	margin: 30px auto;
	width:960px;
	height:650px;
	background:#ffffff;
	border:solid 1px #cccccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 3px 5px #666666;
	-webkit-box-shadow: 0px 3px 5px #666666;
	position:relative;
	overflow: hidden;
}
.main-wrap header{
	font-size:20px;
	color:#666666;
	font-weight:bold;
}
.main-wrap a#lv-select-trigger{
	border: solid 2px #ffffff;
	padding: 5px 10px;
	background:#ff0000;
	font-size: 13px;
	font-weight:bold;
	box-shadow: 0px 0px 5px #666666;
	-webkit-box-shadow: 0px 0px 5px #666666;
	-o-box-shadow: 0px 0px 5px #666666;
	border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	position:absolute;
	right:20px;
	color:#ffffff;
	text-decoration:none;
}
.main-wrap #main{
	overflow: hidden;
}
footer{
	margin:0px auto;
	width:600px;
}
#lvs-modalBG{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background: rgba(255,255,255, .5);
}
#lvs-modalBG #modal-main{
	margin:30px auto;
	width:63%;
	/*height:200px;*/
	position:relative;
	padding:20px;
	background:#ffffff;
	border-radius:40px;
	border:solid 10px #F2C00C;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	box-shadow: 0px 5px 10px #000000;
	-webkit-box-shadow: 0px 5px 10px #000000;
	-o-box-shadow: 0px 5px 10px #000000;
	background-color: #f49f0b;
	background-image: linear-gradient(transparent 50%, rgba(249, 137, 0, .5) 30%);
	/*background-image: linear-gradient(transparent 50%, rgba(249, 137, 0, .5) 30%) repeat scroll 0 0 #f49f0b;*/
	background-size: 50px 5px;
}
#lvs-modalBG #modal-main h2, #lvs-modalBG #modal-main h3{
	margin:0px;
	padding: 0px 0px 10px;
	color:#fff;
	text-align:center;
	font-size: 40px;
	font-weight:bold;
}
#lvs-modalBG #modal-main h3{
	font-size:30px;
}
#lvs-modalBG #modal-main #modal-preview {
	margin: 0px auto 10px;
	padding:0px;
	background:#ffffff;
	height: 300px;
	clear:both;
}
#lvs-modalBG #modal-main ul {
	margin:0px auto;
	padding:10px;
	list-style: none;
	overflow: hidden;
}
#lvs-modalBG #modal-main #modal-preview, #lvs-modalBG #modal-main ul{
	width: 80%;
}
#lvs-modalBG #modal-main ul li{
	display:inline-block;
	float:left;
	/*border:solid 5px #f2d037;*/
	border-radius:50px;
	box-shadow: 0px 3px 5px #666666;
	-webkit-box-shadow: 0px 3px 5px #666666;
	padding:25px 20px;
	font-size:38px;
	font-weight:bold;
	color: #1E5799;
	text-align:center;
	width:38%;
	cursor:pointer;
	border-color: #8fe4fc;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #e1e1e1 40%, #fefcea 98%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%,#e1e1e1), color-stop(98%,#fefcea)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #e1e1e1 40%,#fefcea 98%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #e1e1e1 40%,#fefcea 98%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #e1e1e1 40%,#fefcea 98%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #e1e1e1 40%,#fefcea 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#fefcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #f7f7f7; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #f7f7f7 62%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(62%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #f7f7f7 62%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #f7f7f7 62%,#ffffff 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #f7f7f7 62%,#ffffff 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #f7f7f7 62%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#lvs-modalBG #modal-main ul li#confirm{
	background: #f2d037; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f2d037 40%, #fefcea 98%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%,#f2d037), color-stop(98%,#fefcea)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f2d037 40%,#fefcea 98%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f2d037 40%,#fefcea 98%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f2d037 40%,#fefcea 98%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f2d037 40%,#fefcea 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d037', endColorstr='#fefcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#lvs-modalBG #modal-main ul li:last-child{
	float:right;
}
#lvs-modalBG #modal-main span{
	display:inline-block;
	position: absolute;
	top:20px;
	right:37%;
	
	font-size:40px;
	font-weight:bold;
	color: #ffffff;
}
#lvs-modalBG #modal-main span.lvl-ind.tens{
	padding: 3px 5px;
	top:17px;
	right:33%;
}
.fade-in{
	opacity:1 !important;
	transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-animation: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	
}
.fade-out{
	opacity:0;
	transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-animation: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
}

/**********Level Select Module********/
#level-select{
	padding:3px 0px;
	background: #f49f0b;
	font-weight:normal;
	font-size:40px;
	color:#fff;
	overflow:hidden;
	/*float:right;
	width:185px;*/
}
#level-select div{
	display:inline-block;
	float:left;
	margin:0px 10px 0px 10px;
	cursor:pointer;
}
#level-select > span {
	float:right;
	cursor:pointer;
	padding:0px 15px;
}
#level-select > span::before{
	content:"Level";
	font-size:30px;
}
#level-select div, #level-select > span >span{
	display:inline-block;
	/*display:none;*/
	padding:3px 15px;
	background: #ffffff;
	color:#f49f0b;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#level-select > span >span{
	margin:0px 20px 0px 10px;
	display:inline-block;
}
#level-select div#select-btn10{
	padding:3px 4px;	
}